setuptools == 49.1.0
Flask == 1.1.2 
connexion[swagger-ui] == 2.7.0
Flask-SQLAlchemy == 2.4.3 
alembic == 1.4.2
Flask-Migrate == 2.5.3
Flask-Script == 2.0.6
PyMySQL == 0.9.3
googlemaps == 4.4.1
kotsms == 0.1.2


