<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>醫院看板</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="Animated-Table-Sorting-Plugin-For-jQuery/tsort.min.js"></script>
    
</head>
<body>
    <div class="card-block">
        <h1 class="card-title">救護車即時資訊看板</h1>
        <img src="css/檢傷分類.png" align = "left" style="position: -webkit-sticky;position: sticky; top: 0;" width="300" height="180">
            <table class="tableSorter">
                <tr class='col-head'>
                    <th class="col-0"></th>
                    <th class='col-1'>預計抵達時間</th>
                    <th class='col-2'>距離</th>
                </tr>
            
                
            </table>
            <script src="Animated-Table-Sorting-Plugin-For-jQuery/apply_sort.js" type="text/javascript"></script>
            
            
    </div>
</body>
</html>