<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>醫院看板</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="card-block">
        <h1 class="card-title">救護車即時資訊看板</h1>
            <table class="table stylish-table">
                <thead>
                    <tr class='col-head'>
                        <th colspan="2">預計抵達時間</th>
                        <th>距離</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='block safe'>
                        <td style='width: 60px;'>1</td>
                        <td><h4>5分鐘</h4></td>
                        <td>3.0公里</td>
                    </tr>
                    <tr class='block danger'>
                        <td style='width: 60px;'>2</td>
                        <td><h4>7分鐘</h4></td>
                        <td >3.7公里</td>
                    </tr>
                    <tr class='block safe'>
                        <td>3</td>
                        <td><h4>15分鐘</h4></td>
                        <td>10公里</td>
                    </tr>
                    <tr class='block warning'>
                        <td>4</td>
                        <td><h4>14分鐘</h4></td>
                        <td>9.5公里</td>
                    </tr>
                    <tr class='block warning'>
                        <td>5</td>
                        <td><h4>10分鐘</h4></td>
                        <td>6公里</td>
                    </tr>
                    <tr class='block danger'>
                        <td>6</td>
                        <td><h4>3分鐘</h4></td>
                        <td>2公里</td>
                    </tr>
                </tbody>
            </table>
    </div>
</body>
</html>