body{
    background-image: url("emergency.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
.card-block{
    text-align: center;
}
.card-title{
    text-align: center;
    font-size: 40px;
}
.tableSorter{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:45%;
}
h4{
    font-size: 24px;
}
.col-head{
    font-size: 35px;
    text-align: center;
}
.round{
    line-height:45px;
    width: 45px;
    height: 45px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
    font-size: 30px;
}
.text.safe{
    color: #4CA067;
}
.text.warning{
    color: #F8D366;
}
.text.danger{
    color: #CB5545;
}
.block{
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    height: 95px;
}
.block.safe{
    background-color: #4CA067;
}
.block.warning{
    background-color: #F8D366;
}
.block.danger{
    background-color: #CB5545;
}
table.tableSorter th div.sortArrow {
	width: 11px;
	height: 6px;
	display: inline-block;
	margin-left: 5px;
	vertical-align: 2px;
	position: relative;
}

table.tableSorter th div.sortArrow div.sortArrowAscending,
table.tableSorter th div.sortArrow div.sortArrowDescending {
	position: absolute;
	display: none;
	width: 11px;
	height: 6px;
}

table.tableSorter th div.sortArrow div.sortArrowAscending {
	background: url('../Animated-Table-Sorting-Plugin-For-jQuery/arrow_asc.png');
}

table.tableSorter th div.sortArrow div.sortArrowDescending {
	background: url('../Animated-Table-Sorting-Plugin-For-jQuery/arrow_desc.png') no-repeat;
}